.header img {
	max-width: 100px;
	max-height: 100%;
}

.badge {
	background-color: rgb(119, 143, 168);
}

.badge.bg-info {
	background-color: rgb(13, 202, 240);
}

#about-me, #about-me-preview {
	min-height: 175px;
}

#about-me-preview img {
	max-width: 100%;
}